@import "mixin.scss";




// pc
@media all and (min-width:1024px) {
  html {
    font-size:10px;
  }
}

// tablet
@media all and (min-width:768px) and (max-width:1024px) {
  html {
    font-size:6px;
    body {
      #three {
        .info {
          p {
            line-height: 2rem;
          }
        }
      }
    }
  }
}

// mobile
@media all and (max-width:768px) {
  html {
    font-size:4px;
    body {
      #one {
        main {
          ul {
            li {
              span {
                white-space: nowrap;
              }
            }
          }
        }
      }
      #three {
        .info {
          p {
            line-height: 2.5rem;
          }
        }
      }
    }
  }
}