@import url(//db.onlinewebfonts.com/c/758d40d7ca52e3a9bff2655c7ab5703c?family=Cambria);
@import url(//db.onlinewebfonts.com/c/12c13307742d4e286b692cce7ec65307?family=Californian+FB);
@import url(//db.onlinewebfonts.com/c/01661f50354ecd0a3560ac450ecf43d3?family=Bell+MT);
@import url(//db.onlinewebfonts.com/c/58862b5f5172c3609c9b0ced6da89b12?family=Calisto+MT);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  overflow-x: hidden;
  font-size: 10px;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: .2s;
  transition: .2s;
}

html body {
  background: #1c1c1c;
  font-family: 'Cambria Math', 'Cambria', sans-serif;
  color: white;
}

html body h1 {
  font-size: 12.5rem;
  color: #EFD564;
  white-space: nowrap;
}

html body #one {
  background: url(../images/hogwarts.png) no-repeat;
  background-size: cover;
  background-position: center;
}

html body #one header img {
  width: 15rem;
  margin: 3rem;
}

html body #one main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -6rem;
}

html body #one main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 66rem;
  height: 40rem;
  color: #EFD564;
  margin: 0 13rem;
  font-family: 'Californian FB Regular', sans-serif;
  font-style: italic;
}

html body #one main ul li strong {
  font-size: 12rem;
  text-shadow: 0 15px 30px black;
}

html body #one main ul li span {
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 5px black;
}

html body #one main div img {
  width: 60rem;
}

html body #one .trailer {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

html body #one .trailer .btn {
  width: 100rem;
  margin: 23rem auto 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2.3rem;
}

html body #one .trailer .btn a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 16px white;
  width: 13rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: .6s;
  transition: .6s;
}

html body #one .trailer .btn :hover {
  font-size: 3rem;
}

html body #one .trailer .btn :nth-child(2) {
  font-size: 3rem;
}

html body #one .trailer iframe {
  width: 128rem;
  height: 72rem;
}

html body #two {
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-top: 30rem;
}

html body #two .sub {
  text-align: center;
  font-size: 2.5rem;
}

html body #two h1 {
  text-align: center;
  margin-bottom: 6.5rem;
}

html body #two ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #two ul > :nth-child(2) {
  margin: 0 10rem;
}

html body #two ul li strong {
  font-size: 3rem;
  margin: 0 0 3rem;
  display: block;
}

html body #two ul li span {
  font-size: 2.5rem;
}

html body #three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30rem;
}

html body #three .writer {
  margin-right: 10rem;
}

html body #three .writer img {
  width: 56rem;
}

html body #three .info strong {
  font-size: 3rem;
}

html body #three .info p {
  font-size: 1rem;
  margin-top: 2.5rem;
  line-height: 1.5rem;
}

html body #three .blah {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 100vw;
  margin-top: 15rem;
  text-align: center;
}

html body #three .blah strong {
  color: #EFD564;
  font-size: 2.5rem;
}

html body #three .blah p {
  font-size: 3.5rem;
  color: #A3A3A3;
  margin: 2.5rem 0;
}

html body #three .blah .wing img {
  width: 6rem;
}

html body #four {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  margin-top: 25rem;
  position: relative;
  overflow: hidden;
  height: 175rem;
}

html body #four p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.5rem;
  letter-spacing: 2.5rem;
}

html body #four h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  margin-top: 3rem;
}

html body #four main {
  width: 100vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10rem;
  -webkit-box-shadow: inset 0 0 100px black;
          box-shadow: inset 0 0 100px black;
  padding: 25rem 0;
  overflow: hidden;
}

html body #four main .book {
  margin-bottom: 10rem;
  -webkit-animation: LR 30s infinite;
          animation: LR 30s infinite;
}

html body #four main .book ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #four main .book ul li a {
  margin: 2rem;
}

html body #four main .book ul li a img {
  width: 25rem;
  border-radius: 15px;
  -webkit-transform: perspective(400px) rotate(-10deg) rotateY(30deg);
          transform: perspective(400px) rotate(-10deg) rotateY(30deg);
  -webkit-box-shadow: -10px 10px 20px black;
          box-shadow: -10px 10px 20px black;
}

@-webkit-keyframes LR {
  0%, 100% {
    -webkit-transform: translate(10rem, 0);
            transform: translate(10rem, 0);
  }
  50% {
    -webkit-transform: translate(-10rem, 0);
            transform: translate(-10rem, 0);
  }
}

@keyframes LR {
  0%, 100% {
    -webkit-transform: translate(10rem, 0);
            transform: translate(10rem, 0);
  }
  50% {
    -webkit-transform: translate(-10rem, 0);
            transform: translate(-10rem, 0);
  }
}

html body #four main .movie {
  -webkit-animation: RL 30s infinite;
          animation: RL 30s infinite;
}

html body #four main .movie ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #four main .movie ul li a {
  margin: 2rem;
}

html body #four main .movie ul li a img {
  width: 25rem;
  border-radius: 15px;
  -webkit-transform: perspective(400px) rotate(10deg) rotateY(-30deg);
          transform: perspective(400px) rotate(10deg) rotateY(-30deg);
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
}

@-webkit-keyframes RL {
  0%, 100% {
    -webkit-transform: translate(-25rem, 0);
            transform: translate(-25rem, 0);
  }
  50% {
    -webkit-transform: translate(20rem, 0);
            transform: translate(20rem, 0);
  }
}

@keyframes RL {
  0%, 100% {
    -webkit-transform: translate(-25rem, 0);
            transform: translate(-25rem, 0);
  }
  50% {
    -webkit-transform: translate(20rem, 0);
            transform: translate(20rem, 0);
  }
}

html body #five {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

html body #five main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #five main .text strong {
  color: #EFD564;
  font-family: 'Bell MT', sans-serif;
  font-size: 3rem;
}

html body #five main .text .middle {
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-size: 3rem;
  line-height: 4rem;
}

html body #five main .text .bottom {
  font-family: 'Calisto MT', sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.3rem;
  opacity: .54;
}

html body #five main img {
  width: 44rem;
  margin-left: 8rem;
}

html body #five ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #five ul li {
  width: 32rem;
  height: 32rem;
  border-radius: 15px;
  margin: 14rem 1rem;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

html body #five ul li:nth-child(1):hover {
  -webkit-box-shadow: 0 0 60px #BF1717;
          box-shadow: 0 0 60px #BF1717;
  -webkit-transform: scale(1.043);
          transform: scale(1.043);
}

html body #five ul li:nth-child(2):hover {
  -webkit-box-shadow: 0 0 60px #BF820F;
          box-shadow: 0 0 60px #BF820F;
  -webkit-transform: scale(1.043);
          transform: scale(1.043);
}

html body #five ul li:nth-child(3):hover {
  -webkit-box-shadow: 0 0 60px #069DBF;
          box-shadow: 0 0 60px #069DBF;
  -webkit-transform: scale(1.043);
          transform: scale(1.043);
}

html body #five ul li:nth-child(4):hover {
  -webkit-box-shadow: 0 0 60px #146B10;
          box-shadow: 0 0 60px #146B10;
  -webkit-transform: scale(1.043);
          transform: scale(1.043);
}

html body #five ul li img {
  margin: 3.5rem 0 1rem;
  width: 16rem;
}

html body #five ul li strong {
  display: block;
  font-size: 3rem;
  margin-bottom: .5rem;
}

html body #five ul li p {
  font-size: 2rem;
  opacity: .45;
}

html body #six {
  margin-top: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #six img {
  width: 64rem;
  margin-right: 6rem;
}

html body #six .blah {
  height: 64rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #six .blah .wrap > * {
  margin: 2rem 0;
}

html body #six .blah .wrap img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14rem;
}

html body #six .blah .wrap strong {
  display: block;
  font-size: 4rem;
  margin-bottom: 1rem;
}

html body #six .blah .wrap .line {
  height: .1rem;
  width: 46rem;
  background: white;
  opacity: .6;
}

html body #six .blah .wrap .one {
  font-family: "Cambria Math", sans-serif;
  font-style: none;
  font-size: 2rem;
  color: white;
}

html body #six .blah .wrap .two {
  font-family: "Calisto MT", sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: #EFD564;
}

html body #six .blah .wrap .three {
  font-family: "Calisto MT", sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: white;
}

html body #six .blah .wrap .four {
  font-family: "Cambria Math", sans-serif;
  font-style: none;
  font-size: 2rem;
  color: #EFD564;
}

html body #seven div {
  margin: 30rem auto 20rem;
}

html body #seven div ul {
  margin: 0 auto 10rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body #seven div ul li {
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 3.5rem;
  margin-bottom: 3rem;
}

html body #seven div ul li:hover {
  -webkit-box-shadow: 0 0 60px black;
          box-shadow: 0 0 60px black;
  -webkit-transform: scale(1.043);
          transform: scale(1.043);
}

html body #seven div ul li img {
  width: 23.6rem;
  -webkit-box-shadow: 0 0 20px 5px black;
          box-shadow: 0 0 20px 5px black;
}

html body #seven div ul li span {
  display: block;
  margin: 2.5rem 0 1.3rem;
  color: #EFD564;
  font-size: 2.5rem;
}

html body #seven div ul li p {
  font-size: 2rem;
  opacity: .45;
}

html body #eight header {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
}

html body #eight header img {
  width: 15rem;
  margin: 0 auto;
}

html body #eight header strong {
  display: block;
  font-size: 2rem;
  font-weight: 20rem;
  opacity: .45;
  margin: 2rem 0 6.5rem;
}

html body #eight header #clock {
  color: #EFD564;
  font-family: 'Cambria Math', 'Cambria', sans-serif;
  font-size: 14rem;
  text-shadow: 0 0 45px black;
}

html body #eight main {
  position: relative;
}

html body #eight main .train {
  height: 23rem;
  position: absolute;
  left: 15rem;
  top: 0;
}

html body #eight main .text {
  height: 23rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  margin: 6.5rem auto 16rem;
  text-shadow: 0 0 45px black;
}

html body #eight main .text strong {
  font-size: 4rem;
}

html body #eight main .text .one {
  font-size: 2rem;
  margin: 3rem 0 3.5rem;
  opacity: .6;
}

html body #eight main .text .two {
  font-family: "Calisto MT", sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: #EFD564;
  opacity: .6;
}

html body #eight main .wing {
  height: 23rem;
  position: absolute;
  right: 15rem;
  top: 0;
}

html body #eight .line {
  width: 100%;
  height: .1rem;
  background: #6d6d6d;
}

html body #eight footer {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body #eight footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #eight footer .left img {
  height: 4rem;
  cursor: pointer;
}

html body #eight footer .left .egg {
  margin: 0 3rem;
}

html body #eight footer .left a {
  text-decoration: underline;
  text-underline-offset: .3rem;
  color: white;
  font-size: 1.6rem;
}

html body #eight footer .middle p {
  line-height: 4rem;
  font-size: 1.6rem;
}

html body #eight footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #eight footer .right img {
  height: 4rem;
  cursor: pointer;
}

html body #eight footer .right .universal {
  margin: 0 3rem;
}

html body #nine {
  width: 100%;
  height: 300rem;
  position: absolute;
  bottom: 0;
  z-index: -10;
  background: url(../images/deer.png) 50% 130rem/cover no-repeat;
  opacity: .3;
}
/*# sourceMappingURL=style.css.map */